
{% extends "base2.html" %}
{% load static %}

{% block content %}
<script>
     
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        $("#btnClose").click(function(e){
            window.close();

        });
        
        $("#friend-form").submit(function (e) {
            e.preventDefault();
            
            if ( $("#contactname").val()!=""  ){
                    var serializedData = $(this).serialize();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'addMe' %}",
                        data: serializedData,
                        headers:{

                        },
                        success: function (response) {
                            
                            var instance = JSON.stringify(response);
                            $("#resultMessage").html( response.result.error );
                            //console.log( response.result.error);
                        },
                        error: function (response) {
                            $("#resultMessage").html("主機回應錯誤");
                        }
                    });
            }
            else{
                $("#resultMessage").html( "請輸入姓名");
            }
        });
    });
   
</script>
<form id="friend-form"> 
    {% csrf_token %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class=" alert alert-info" role="alert" style="font-size: 48pt;">                
              請輸入你的名字
            </div>
        </div>
        <div class="col-10 ">
            <div class="input-group "  >
                <span class="input-group-text" id="inputGroup-sizing-default" ><span style="font-size: 48pt;color:red">姓名</span><span style="font-size: 24pt;color:red">(必填)</span></span>                
                <input type="text" name="contactname" id="contactname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="font-size: 48pt;" 
                value="{{ contactname }}">  
                
            </div>
        </div> 
        <div class="col-2"></div>
        <div class="col-12"><span style="font-size: 38pt;" id="resultMessage" >{{ addResult }}</span> </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-lg" style="font-size: 48pt; "  >送出</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-info btn-lg" style="font-size: 48pt; " id="btnClose"  >Close</button>
        </div>
    </div>    
</div>
</form>
{% endblock %}
